@font-face {
  font-family: 'Hakgyoansim Geurimilgi';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGeurimilgi/HakgyoansimGeurimilgi.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGeurimilgi/HakgyoansimGeurimilgi.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGeurimilgi/HakgyoansimGeurimilgi.otf') format('opentype'),
        url('https://cdn.jsdelivr.net/gh/fonts-archive/HakgyoansimGeurimilgi/HakgyoansimGeurimilgi.ttf') format('truetype');
}